<div class="fixed-top bg-light" data-toggle="affix">
    <div class="container">
        <div class="row">
            <nav aria-label="navigation" aria-labelledby="navigationBar"
                class="navbar sticky-top fixed-top navbar-expand-lg navbar-light navbar-toggleable-md"
                style="padding-bottom: 20px;" id="first">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/images/logo.png" class="img-thumbnail" width="5%" height="5%" alt="logo" />
                    Sample Site

                    <button class="navbar-toggler navbar-toggler float-right" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#customer-feedback"> Customer Feedback
                                <!-- <fa-icon size="lg" class="fixed text-primary" [fixedWidth]="true" [icon]="faUserTag"> -->
                                <!-- </fa-icon> -->
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Track your order
                                <!-- <fa-icon size="lg" class="fixed text-primary" [fixedWidth]="true" [icon]="faUser"> -->
                                <!-- </fa-icon> -->
                            </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#">FAQ
                                <!-- <fa-icon size="lg" class="fixed text-primary" [fixedWidth]="true" -->
                                    <!-- [icon]="faShoppingCart"></fa-icon> -->
                            </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#contact">Contact US
                                <!-- <fa-icon size="lg" class="fixed text-primary" [fixedWidth]="true" -->
                                    <!-- [icon]="faShoppingCart"></fa-icon> -->
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
