<div class="row padding-top-5">
  <h2 class="col-md-12 text-center">Testimonials</h2>
  <div class="col-md-12 d-inline-flex pb-10">
    <div class="col-md-4">
      <div class="card card-display">
        <div class="card-body">
          <!-- <img src="../../../assets/images/logo-orange.jpg" class="img-thumbnail-left" style="width: 30%;" /> -->
          <div><div class="card-title d-inline font-weight-bold">User name</div>
            <div class="float-right">
              <!-- <fa-icon class="normal" [icon]="faGrinStars"  size="3x"  style="size: 18px"></fa-icon> -->
              <!-- <fa-icon class="fixed" [icon]="faGrinStars" [fixedWidth]="true" size="3x"></fa-icon> -->
              <fa-icon [fixedWidth]="true" [icon]="faGrinStars"></fa-icon>
              <fa-icon [fixedWidth]="true" [icon]="faGrinStars"></fa-icon>
              <fa-icon [fixedWidth]="true" [icon]="faGrinStars"></fa-icon>
              <fa-icon [fixedWidth]="true" [icon]="faGrinStars"></fa-icon>
              <fa-icon [fixedWidth]="true" [icon]="faGrinStars"></fa-icon>
            </div>
          </div>

          <p class="card-text pt-20">
            Feedback of the purchase.
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-display">
        <div class="card-body">
          <h5 class="card-title">User name</h5>
          <p class="card-text">
            Feedback of the purchase.
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-display">
        <div class="card-body">
          <h5 class="card-title">User name</h5>
          <p class="card-text">
            Feedback of the purchase.

            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
