<div class="col-md-12 float-right">


<div class="py-5 col-md-10 offset-md-1 p-0" [style.height.px]="getHeight()">
    <h3 class="text-center py-4">Custom Card Policy</h3>
    <ul class="py-4">
        <li>Customised card needs extra efforts, you need pay as per the design variations</li>
        <li>Delivery time will increase by 3-5 days than regular delivery time.</li>
        <li>After reading all these contion please click on pay now button to submit your order</li>
        <li>
            Once you submit your order, we will create some new designs as per your preferences(selected top five designs)
        </li>
        <li>We will send you design pictures on whatsapp and email to finalise the design and payment</li>
        <li>Payment will vary as per the design changes</li>
        <li>Once you finalise the design and made payment, then we will start working on the product </li>
        <li>We will provide you order details to <a href="#">Track a Order</a></li>
        <li>Please keep in mind that you have to order 10-15 days prior to your "The Day" because customization takes time</li>

    </ul>
    <div class="form-check ml-4 py-4">
        <input class="form-check-input" type="checkbox"
            id="blankCheckbox" value="option1" aria-label="">I accept the <a href="">Terms</a> and <a href="">Custom card policy</a>.
    </div>
    <button class="btn btn-primary ml-4 py-2">Proceed</button>
</div>
</div>
