html {
    scroll-behavior: smooth;
  }
 .parallax {
    /* The image used */
    // background-image: url("../assets/images/close-up-photography-of-colored-pencils-743986.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-sec2 {
    /* The image used */
    background-image: url("../assets/images/two-pink-ballpoint-pens-on-table-1007025.jpg");
    //1. color-markers-on-white-surface-near-book-1424543.jpg
    //2. two-pink-ballpoint-pens-on-table-1007025.jpg
    //brown-colored-pencils-on-white-printer-paper-1158682.jpg

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
//   li :hover{
//       background-color:  var(--light);;
//   }
.carousel-caption{
    background: var(--gray-dark);
}


