<!-- app.component.html -->
<oh-top-header></oh-top-header>
<!-- <oh-app-header></oh-app-header> -->

<div class="container  d-flex">
    <div class="row">
        <div class="col-md-12">

            <div class="text-center image padding-bottom-20">
                <img src="../assets/images/hand-with-oil-pastel-draws-the-heart-63335.jpg" alt="" class="img-fluid">
                <h1>Personalised Cards</h1>
                <h2>Create your own card!</h2>
                <a type="button" href="#multipart-form" class="btn btn-primary get-started" >Getting started</a>
            </div>
            <app-multistep-form></app-multistep-form>

        </div>
        <oh-app-card-row></oh-app-card-row>
        <oh-app-product-list></oh-app-product-list>
        <div id="customer-feedback">
            <oh-testimonial></oh-testimonial>
        </div>
    </div>
</div>
<oh-site-footer></oh-site-footer>
