<div class="py-5 col-md-10 offset-md-1 p-0" [style.height.px]="getHeight()">
    <h1>Frequently Asked Questions</h1>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        How Can I create the card?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li>Go to 'create your card' page </li>
                        <li>Choose the occasion</li>
                        <li>Write the message needs to convey to your loved ones</li>
                        <li>Click on 'Show my cards' to explore the card designs</li>
                        <li>Add your favourite card into shopping cart</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Can I create the customized card?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li>Go to 'create your customized card' page </li>
                        <li>Choose the occasion</li>
                        <li>Write the message needs to convey to your loved ones</li>
                        <li>Click on 'Show my cards' to explore the card designs</li>
                        <li>Add your favourite card into shopping cart</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        How Can I Pay for My Stuff at sample site?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li>
                            At First, add products to your bag.
                        </li>
                        <li>
                            Next step is Shipment details. Enter the recipient's address or select self-option to send
                            it to yourself. You can also send message to the recipient.
                        </li>
                        <li>
                            Click on Proceed link to enter payment details. Select your desired date of delivery and
                            payment option. Click on 'Proceed to Pay' button.
                        </li>
                        <li>
                            The final step to confirm transaction gives you the complete details of your shopping cart
                            with shipping charges and reward points that you have earned.
                        </li>
                        <li>
                            Click on Pay now to connect to secure payment gateway for entering the credit card details
                            to the bank.
                        </li>
                        <li>
                            The bank will send you an email providing you details about your current shopping status,
                            order date with your desired delivery date and recipient's address information.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
