<!-- Footer -->
<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-copyright">
        <div class="col-md-12">
          Subscribe for more offers and updates directly in your inbox!
        </div>
        <form class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
        <!-- &copy; Bootstrap Testimonial Slider by -->
      </div>
      <div class="col-md-6 footer-social text-center social-icons">
        <fa-icon
          size="3x"
          class="fixed text-primary"
          [fixedWidth]="true"
          [icon]="faInstagram"
          (click)="
            openSocialMediaAccounts(
              'https://www.facebook.com/TejuCraftsGreetings/'
            )
          "
        ></fa-icon>
        <fa-icon
          size="3x"
          class="fixed text-primary"
          [fixedWidth]="true"
          [icon]="faFacebook"
        ></fa-icon>
        <fa-icon
          size="3x"
          class="fixed text-primary"
          [fixedWidth]="true"
          [icon]="faTwitter"
        ></fa-icon>
        <fa-icon
          size="3x"
          class="fixed text-primary"
          [fixedWidth]="true"
          [icon]="faGooglePlus"
        ></fa-icon>
        <fa-icon
          size="3x"
          class="fixed text-primary"
          [fixedWidth]="true"
          [icon]="faPinterest"
        ></fa-icon>
      </div>
    </div>
    <div class="row pt-2per">
      <div class="col-md-12 d-flex link-hr">
        <div class="col-md-3 link-section">
          <ul>
            <li>Home</li>
            <li>About us</li>
            <li>Contact</li>
            <li>Help</li>
          </ul>
        </div>
        <div class="col-md-3 link-section">
          <ul>
            <li>Flowers</li>
            <li>Personalised Gifts</li>
            <li>Birthday</li>
            <li>Anniversary</li>
            <li>Occasions</li>
            <li>Relationship</li>
          </ul>
        </div>
        <div class="col-md-3 link-section">
          <ul>
            <li>FAQ</li>
            <li>T&C</li>
            <li>Terms Of Use</li>
            <li>Track Orders</li>
          </ul>
        </div>
        <div class="col-md-3 link-section">
          <ul>
            <li>Shipping</li>
            <li>Cancellation</li>
            <li>Returns</li>
            <li>Blog</li>
            <li>Privacy policy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
